# Brewfile

cask_args no_quarantine: true

tap "homebrew/cask-versions"
tap "homebrew/homebrew-cask-drivers"
tap "homebrew/cask-fonts"

{{- if eq .chezmoi.os "darwin" }}

# seems to be required to install python 3.7.13 via pyenv
brew "openssl" 
brew "readline" 
brew "sqlite3" 
brew "xz" 
brew "zlib"
brew "wget"

brew "git"
brew "awscli"
brew "chezmoi"                                        
brew "golang"
brew "jq"
brew "pyenv"
brew "tfenv"
brew "vim"
brew "fish"
brew "starship"
brew "imagemagick"

# for pre-commit
brew "pre-commit"
brew "gawk"
brew "tfsec"
brew "terraform-docs"
brew "coreutils"
brew "tox"
brew "tflint"

cask "google-chrome"
cask "iterm2"
cask "visual-studio-code"
cask "lastpass"

cask "homebrew/cask-fonts/font-fira-code-nerd-font"

{{ end }}